@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/*==================== VARIABLES CSS ====================*/
  html {
  scroll-behavior: smooth;
} 

@layer base {
  body {
    @apply font-poppins;
  }
}

.estilo-neon{
  box-shadow:
  0 0 10px #a855f7,
  0 0 20px #a855f7,
  0 0 40px #a855f7;
}

.qualification__data{
  display:grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap:1.5rem;
}

.swiper-pagination-horizontal{
  bottom:auto;
}

/*==================== MEDIA QUERIES ====================*/

@media screen and (max-width:422px){

.qualification__data {
    gap: 0.2rem;
  }

}

@media screen and (min-width:568px){
  .qualification__sections{
  display: grid;
  grid-template-columns: 0.6fr;
  justify-content: center;
}
}
