@tailwind base;
@tailwind components;
@tailwind utilities;

/*==================== VARIABLES CSS ====================*/
  html {
  scroll-behavior: smooth;
} 

  /*========== Font and typography ==========*/
  body{
    font-family:"Poppins", sans-serif;
  } 




